project:
  type: website

website:
  title: "DataViz 2022"
  favicon: "/files/favicon-48.png"
  site-url: https://microbialds.github.io/2022_DBio_Data/
  repo-url: https://github.com/microbialds/2022_DBio_Data
  navbar:
    pinned: true
    background: "#54AFBC"
    right:
#     - syllabus.qmd
      - text: "Clases"
        file: clases/index.qmd
      - text: "Tareas"
        file: tareas/index.qmd
        
        
  sidebar:
    - title: "Clases"
      style: "docked"
      search: false
      background: dark
      contents:
        - section: "Introducci贸n y preparaci贸n antes del curso"
          contents:
            - clases/index.qmd
        - section: "Contenido del curso"
          contents:
            - text: "1: Introducci贸n a R"
              file: clases/01-intro.qmd
              
  page-footer:
    left: |
      Curso desarrollado por Juan A. Ugalde, 2022
      
    right: |
      Desarrollado en {{< fa brands r-project >}} y [Quarto](https://quarto.org)<br>
      [C贸digo disponible en {{< fa brands github >}} Github](https://github.com/microbialds/2022-DataR)

format:
  html:
    theme:
      - litera
      - html/custom.scss
    toc: true
    highlight-style: arrow

editor: visual

execute:
  freeze: auto

